* {
    font-family: 'Abel', sans-serif;
}

header, 
main,
.corp-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    margin-inline: auto;
    width: calc(100% - 4rem);
    max-width: 900px;

}

header > *  {
    text-align: center;
}

.header-brand-container {
    display: none;
}

main,
.corp-buttons,
footer {
    margin-inline: auto;
}

.corp-buttons {
    width: 100%;
}

button {
    width: calc(100% - 4rem);
    max-width: 250px;
    min-width: 150px;
    height: 50px;
    margin: 20px;
    background-color: #91d4e3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.display-table{
    display: none;
}

table {   
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid black;
}

th {
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 90vw;
}

footer p {
    text-align: center;
    color: rgb(156, 156, 156);
}